<header>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <button class="btn btn-link"><%= link_to "Home", root_path, class: "nav-brand" %></button>
        <button class="btn btn-link"><%= link_to "All Products", root_path %></button>
        <button class="btn btn-link"><%= link_to "New Product", new_product_path %></button>
    </div>
  </nav>
</header>