<header>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <button class="btn btn-link"><%= link_to "All Products", root_path %></button>
        <a href="?sort=most_recent"><button class="btn btn-link">Recently Added</button></a>
        <a href="?sort=most_reviewed"><button class="btn btn-link">Most Reviewed</button></a>
        <a href="?sort=usa_product"><button class="btn btn-link">American Made</button></a>
    </div>
  </nav>
</header>