<header>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a href="?sort=most_recent"><button class="btn btn-link">Recently added</button></a>
        <a href="?sort=most_reviewed"><button class="btn btn-link">Most Reviewed</button></a>
        <a href="?sort=usa_product"><button class="btn btn-link">American Made</button></a>
    </div>
  </nav>
</header>